@font-face {
    font-family: 'affectionately_yoursregular';
    src: url('affectionately_yours_-_ttf-webfont.woff2') format('woff2'),
         url('affectionately_yours_-_ttf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../images/GG_Bridge.jpg");
}

header{
	background-color: rgba(209, 209, 209, .8);
	margin-right: 20vw;
	margin-left: 4vw;
	margin-bottom: 6vh;
}

h1{
	font-family: "affectionately_yoursregular";
	font-size: 50px;
	font-weight: 600;
	padding-top: 2vh;
	padding-bottom: 2vh;
	margin-left: 8vw;
}

h2{
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 20px;
	text-align: center;
}

h3{
	font-family: "affectionately_yoursregular";
	font-size: 30px;
	text-align: center;
}

h4{
	font-family: "affectionately_yoursregular";
	font-size: 45px;
	text-align: center;
}

input{
	outline: 1px solid black;
}

.top-row{
	margin-top: 4vh;
	height: 75vh;
	margin-bottom: 6vh;
}

.bottom-row{
	height: 15vh;
}

.has-text{
	color: black;
	text-align: center;
}

.info{
	background-color: orange;
	opacity: .8;
}

.weather-day {
	border-bottom: 0.5px solid #777;
	height: 50px;
}

.day-and-date {
	font-size: 10px;
	position: relative;
	float: left;
	top: 30%;
	left: 8%;
}

.day {
	font-weight: bold;
}

.date {
	color: #777;
	font-size: 9px;
}

.daily-weather-image {
	padding: 0 20px;
}

.temperatures {
	font-size: 10px;
	position: relative;
	float: right;
	top: 35%;
	right: 8%;
}

.temp-low {
	color: #777;
}

.display-none{
	display: none;
}

.display-block{
	display: block;
}

.hidden-box-content{
	margin-top: 3vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.hidden-box-content img{
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	border: 2px solid black;
}

.fadeIn{
    -webkit-animation-name: fadeIn-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.fadeOut{
    -webkit-animation-name: fadeOut-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.asterisk{
	color: #a62d27;
	font-family: "Nunito";
}

.event-prompt{
	font-family: "Nunito";
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 2.5vh;
}

#main-content{
	margin-left: 4vw;
	margin-top: 4vh;
	height: 58vh;
	background: rgba(209, 209, 209, 0.8);
	border-radius: 15px;
	overflow: auto;
	position: relative;
}

#weather-image{
	width: 5vw;
	height: auto;
	float: left;
	margin-top: .5vh;
	margin-left: 1vw;
}

#weather-stats {
	background-color: white;
	opacity: 0.75;
}

#close-button{
	width: 3vw;
	height: auto;
	float: right;
	margin-top: .4vh;
	margin-right: .2vw;
}

#close-button:hover{
	cursor: pointer;
}

#event-form{
	font-family: "Nunito";
	font-weight: 600;
}

#event-form legend{
	padding-bottom: 1vh;
	border-bottom: 2px solid black;
	font-size: 24px;
	margin-bottom: .7vh;
}

#event-form label{
	font-family: "Nunito";
	font-size: 18px;
	font-weight: 500;
}

#event-form input{
	font-size: 18px;
	margin-top: 1.5vh;
	margin-bottom: 2.5vh;
}

#required-fields{
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 0;
}

#submit-event-form{
	font-family: "Nunito";
	font-size: 18px;
	font-weight: 700;
	background: white;
	border: 1px solid black;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-right: 18vw;
	margin-top: 4vh;
	margin-bottom: 1.5vh;
}

#submit-event-form:hover{
	cursor: pointer;
	background: black;
	color: white;
}

#event-form .event-checkboxes label{
	display: block;
	font-size: 16px;
}

#event-form .event-checkboxes input{
	vertical-align: 1px;
	margin-right: .2vw;
	-webkit-transform: scale(.8);
}

@-webkit-keyframes fadeIn-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hotel-choices {
	position: relative;
}

.hotel-image {
	height: 100px;
	position: absolute;
	top: 30%;
	left: 10%;
	border: none;
}

.hotel-info {
	position: absolute;
	top: 27%;
	left: 35%;
}

h4 {
	font-size: 30px;
	margin-bottom: 0;
}

.hotel-website {
	color: #777;
}

.next-btn {
	position: absolute;
	background-color: red;
	top: 80%;
	left: 80%;
	padding: 10px 20px;
	border-radius: 15%;
	color: #fff;
	letter-spacing: 3px;
}