body{
	background: url(../images/computer_background.jpg);
	background-size: cover;
}

.middle-row {
	margin-left: 50px;
	height: 35vh;
}

.destination-bar {
	margin-right: 4%;
	margin-top: 7%;
	padding-left: 3%;
	padding-top: 2%;
}

.city-button {
	margin-right: 4%;
	margin-top: 1%;
	text-align: center;
}

#pick-destination {
	text-align: left;
	font-size: 40px;
	color: #fff;
	font-family: "Nunito";
	padding-bottom: 1%;
}

#back-to-weather {
	color: #777;
	font-size: 25px;
	text-align: left;
	font-family: "Nunito";
}

#back-to-weather:hover {
	color: lime;
}

.formatted {
	height: 50vh;
	margin-top: 5%;
	margin-left: 5%;
}

.title-screen {
	background: black;
	width: 97%;
	height: 459px;
}

#screen-of-buttons {
	font-family: Nunito;
}

.display-none {
	display: none;
}
/*==================TITLE BELOW=======================*/

.text-container h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 85px;
	color: rgba(225,225,225,.1);
	background-image: url(../images/landscape.jpg);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: backscroll 20s linear infinite;
}

@keyframes backscroll {
	0% { background-position: left 50px top 0px; }
	50% { background-position: left 200px top 0px; }
	100% { background-position: left 50px top 0px; }
}

.text-container {
	padding-top: 200px;
	text-align: center;
	height: 100px;
}

.subtitle {
	margin-top: 20px;
	font-size: 1.2rem;
	font-family: 'Shrikhand', cursive;
	color: darkgrey;
	text-align: center;
}


/*=================PICK WEATHER SCREEN======================*/

.weather-bar{
	margin-top: 7%;
	margin-right: 4%;
}

.weather {
	font-size: 30px;
	font-weight: 800px;
	color: cyan;
	margin-right: 4%;
	text-align: center;
}

#select-condition {
	font-family: "Nunito";
}

.weather-icon{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

#snow {
	background-image: url(../images/icon_snowy_70.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin: 10px;
}

#clear-day-cold {
	background-image: url(../images/icon_overcast_70.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin: 10px;
}

#clear-day-hot {
	background-image: url(../images/icon_sunny_70.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin: 10px;
}

#rain {
	background-image: url(../images/icon_rainy_70.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin: 10px;
}

.breaker {
	border: 2px solid white;
	margin: 30px 200px 0px 200px;
}

.line {
	margin-top: 2%;
	font-size: 40px;
	color: #42f465;
	margin-right: 4%;
	text-align: center;
}

#selection-notification {
	font-family: "Nunito";
}

.next {
	background: blue;
	height: 100px;
}

.pure-button {
	border-radius: 10px;
	padding: 2vh 3vw;
	margin: 1.2%;
}

.pure-button:hover {
	background: lightgreen;
	color: darkgreen;
	font-size: 16px;
	font-weight: 700;
	border-radius: 10px;
	text-shadow: 1px 1px white;
	box-shadow: 4px 4px black;
}

.origin {
	margin: 0px;
}
